<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider item-stable">Device 1</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-assertive" ng-click="powerOn(1)">On</a>
          <a class="button button-balanced" ng-click="powerOff(1)">Off</a>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider item-stable">Device 2</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-assertive" ng-click="powerOn(2)">On</a>
          <a class="button button-balanced" ng-click="powerOff(2)">Off</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
